@model MvcRentACar2.Models.Cars

@{
    ViewData["Title"] = "Детайли";
}

<h1>Детайли</h1>

<div>
    <h4>Коли</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Марка
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marka)
        </dd>
        <dt class = "col-sm-2">
            Град
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            Дата и час на взимане
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentCar1)
        </dd>
        <dt class = "col-sm-2">
            Дата и час на връщане
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentCar2)
        </dd>
        <dt class = "col-sm-2">
            Ограничени километри
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Km)
        </dd>
        <dt class = "col-sm-2">
            Цена на услугата
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CarId">Редактиране</a>
    <a asp-action="Index">Обратно към списъка</a>
</div>
