@model MvcRentACar2.Models.Cars

@{
    ViewData["Title"] = "Детайли";
}

<h1 class="center">Детайли</h1>

<div>
    <h4>Кали</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Марка
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marka)
        </dd>
        <dt class = "col-sm-2">
            Регистрационен номер на колата
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegNumber)
        </dd>
        <dt class = "col-sm-2">
            Клиент
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientId)
        </dd>
        <dt class = "col-sm-2">
            Дата и час на отдаване на колата под наем
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentCar)
        </dd>
        <dt class = "col-sm-2">
            Изминати километри
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Km)
        </dd>
        <dt class = "col-sm-2">
            Служител
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            Цена на услугата
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CarId">Редактиране</a>
    <a asp-action="Index">Обратно към списъка</a>
</div>
