@model IEnumerable<MvcRentACar2.Models.Cars>

@{
    ViewData["Title"] = "Коли";
}

<h1>Коли</h1>

<p>
    <a asp-action="Create">Създаване на нов</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Марка
            </th>
            <th>
                Град
            </th>
            <th>
                Дата и час на взимане
            </th>
            <th>
                Дата и час на връщане
            </th>
            <th>
                Ограничени километри
            </th>
            <th>
                Цена на услугата
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               <a asp-controller="CarRentalTimes" asp-action="Index"> @Html.DisplayFor(modelItem => item.Marka)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentCar1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentCar2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Km)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CarId">Редактиране</a>
                <a asp-action="Details" asp-route-id="@item.CarId">Детайли</a>
                <a asp-action="Delete" asp-route-id="@item.CarId">Изтриване</a>
            </td>
        </tr>
}
    </tbody>
</table>
