@model IEnumerable<MvcRentACar2.Models.Cars>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountSeat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transmission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirConditioning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountSeat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transmission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AirConditioning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarCount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CarId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CarId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CarId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
