@model IEnumerable<MvcRentACar2.Models.Cars>

@{
    ViewData["Title"] = "Коли";
}

<h1 class="center">Коли</h1>

<p>
    <a asp-action="Create">Създаване на нова</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Марка на колата
            </th>
            <th>
                Регистрационен номер на колата
            </th>
            <th>
                Клиент
            </th>
            <th>
                 Дата и час на отдаване на колата под наем
            </th>
            <th>
                 Изминати километри
            </th>
            <th>
                Служител
            </th>
            <th>
                Цена на услугата
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentCar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Km)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CarId">Редактиране</a>
                <a asp-action="Details" asp-route-id="@item.CarId">Детайли</a>
                <a asp-action="Delete" asp-route-id="@item.CarId">Изтриване</a>
            </td>
        </tr>
}
    </tbody>
</table>
