@model IEnumerable<MvcRentACar2.Models.Employees>

@{
    ViewData["Title"] = "Служители";
}

<h1 class="center">Служители</h1>

<p>
    <a asp-action="Create">Създай нов</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Име
            </th>
            <th>
                Фамилия
            </th>
            <th>
                Телефон
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeId">Редактиране</a>
                <a asp-action="Details" asp-route-id="@item.EmployeeId">Детайли</a>
                <a asp-action="Delete" asp-route-id="@item.EmployeeId">Изтриване</a>
            </td>
        </tr>
}
    </tbody>
</table>
