@model IEnumerable<MvcRentACar2.Models.CarRentalTime>

@{
    ViewData["Title"] = "Дата и час на взимане и връщане";
}

<h1>Дата и час на взимане и връщане</h1>

<p>
    <a asp-action="Create">Създаване на нов</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Име и фамилия
            </th>
            <th>
                Дата и час
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактиране</a>
                <a asp-action="Details" asp-route-id="@item.Id">Детайли</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Изтриване</a>
            </td>
        </tr>
}
    </tbody>
</table>
