@model IEnumerable<MvcRentACar2.Models.CarRentalTime>

@{
    ViewData["Title"] = "Час за наемане на колата под наем";
}

<h1 class="center">Час за наемане на колата под наем</h1>

<p>
    <a asp-action="Create">Създаване на нов</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Клиент
            </th>
            <th>
                Служител
            </th>
            <th>
                Дата и час
            </th>
            <th>
                Продължителност
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактиране</a>
                <a asp-action="Details" asp-route-id="@item.Id">Детайли</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Изтриване</a>
            </td>
        </tr>
}
    </tbody>
</table>
